*,
*::after,
*::before { 
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--ff-primary);
    font-size: .9375rem;
    font-weight: 400;
    color: var(--color-White);
    line-height: 1.6;
    background: var(--color-Very-dark-blue);
    padding: 0 24px;
}


